Repository instrumentisto/medea, pull requests merged in 2019-05, with the labels that each got.

#16 WIP: Implement signaling
  Cargo.lock
  Cargo.toml
  README.md
  signaling_test.html
  src/api/client/mod.rs
  src/api/client/room.rs
  src/api/client/rpc_connection.rs
  src/api/client/server.rs
  src/api/client/session.rs
  src/api/control/member.rs
  src/api/control/mod.rs
  src/api/mod.rs
  src/api/protocol.rs
  src/conf/rpc.rs
  src/main.rs
  src/media/mod.rs
  src/media/peer.rs
  src/media/track.rs
  src/signalling/mod.rs
  src/signalling/participants.rs
  src/signalling/peers.rs
  src/signalling/room.rs
  src/signalling/room_repo.rs
Labels: feature, k: api, k: design

#21 Decompose IceCandidate
  docs/rfc/0002-webrc-client-api.md
  signaling_test.html
  src/api/client/rpc_connection.rs
  src/api/protocol.rs
  src/conf/mod.rs
  src/signalling/room.rs
Labels: enhancement, k: api

#18 WIP: Setup transport and messaging
  Cargo.lock
  Cargo.toml
  Makefile
  config.default.toml
  jason/.gitignore
  jason/Cargo.lock
  jason/Cargo.toml
  jason/e2e-demo/js/index.js
  jason/src/api/jason.rs
  jason/src/api/mod.rs
  jason/src/api/room.rs
  jason/src/lib.rs
  jason/src/rpc/heartbeat.rs
  jason/src/rpc/mod.rs
  jason/src/rpc/websocket.rs
  jason/src/utils/errors.rs
  jason/src/utils/event_listener.rs
  jason/src/utils/mod.rs
  jason/tests/web.rs
  proto/client-api/Cargo.toml
  proto/client-api/README.md
  proto/client-api/src/lib.rs
  src/api/client/rpc_connection.rs
  src/api/client/session.rs
  src/api/mod.rs
  src/media/mod.rs
  src/media/peer.rs
  src/media/track.rs
  src/signalling/participants.rs
  src/signalling/room.rs
Labels: feature, k: api, k: design

#24 WIP: Refactor config values merging
  config.default.toml
  config.toml
  src/conf/mod.rs
  src/conf/rpc.rs
  src/conf/server.rs
Labels: enhancement, k: config

#23 Add macro for PeerStateMachine getters
  Cargo.lock
  Cargo.toml
  Makefile
  crates/medea-macro/Cargo.toml
  crates/medea-macro/src/enum_delegate.rs
  crates/medea-macro/src/lib.rs
  src/media/peer.rs
Labels: enhancement, k: design
