Repository instrumentisto/medea, pull requests merged in 2019-12, with the labels that each got.

#55 Cleanup Jason state on WebSocket close
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/e2e-demo/video-call.html
  jason/src/api/mod.rs
  jason/src/api/room.rs
  jason/src/rpc/mod.rs
  jason/src/rpc/websocket.rs
  jason/tests/api/mod.rs
  jason/tests/api/room.rs
  jason/tests/rpc/mod.rs
  jason/tests/web.rs
  proto/client-api/src/lib.rs
Labels: enhancement, k::api, k::design

#63 Control API gRPC callbacks for Member (#61)
  .travis.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Makefile
  _dev/specs/pub-pub-video-call.yml
  _dev/specs/pub-sub-video-call.yml
  jason/e2e-demo/js/index.js
  jason/e2e-demo/video-call.html
  mock/control-api/src/api/endpoint.rs
  mock/control-api/src/api/member.rs
  mock/control-api/src/api/mod.rs
  mock/control-api/src/api/room.rs
  mock/control-api/src/callback/mod.rs
  mock/control-api/src/callback/server.rs
  mock/control-api/src/client.rs
  mock/control-api/src/main.rs
  proto/control-api/CHANGELOG.md
  proto/control-api/build.rs
  proto/control-api/src/grpc/callback.proto
  proto/control-api/src/grpc/callback.rs
  proto/control-api/src/grpc/callback_grpc.rs
  proto/control-api/src/grpc/mod.rs
  src/api/client/rpc_connection.rs
  src/api/client/session.rs
  src/api/control/callback/clients/grpc.rs
  src/api/control/callback/clients/mod.rs
  src/api/control/callback/mod.rs
  src/api/control/callback/service.rs
  src/api/control/callback/url.rs
  src/api/control/error_codes.rs
  src/api/control/member.rs
  src/api/control/mod.rs
  src/api/control/room.rs
  src/bin/client.rs
  src/lib.rs
  src/signalling/elements/member.rs
  src/signalling/participants.rs
  src/signalling/peers.rs
  src/signalling/room.rs
  src/signalling/room_repo.rs
  tests/e2e/callbacks/member.rs
  tests/e2e/callbacks/mod.rs
  tests/e2e/grpc_control_api/create.rs
  tests/e2e/grpc_control_api/delete.rs
  tests/e2e/grpc_control_api/mod.rs
  tests/e2e/grpc_control_api/signaling.rs
  tests/e2e/main.rs
  tests/e2e/signalling/mod.rs
  tests/e2e/signalling/three_pubs.rs
  tests/medea.config.toml
Labels: feature, k::api, k::design

#76 Fix WsSession close without notifying Room and Commands not being transmitted
  Cargo.lock
  Cargo.toml
  src/api/client/rpc_connection.rs
  src/api/client/server.rs
  src/api/client/session.rs
  src/api/mod.rs
  src/signalling/participants.rs
  src/signalling/room.rs
  tests/e2e/callbacks/member.rs
  tests/e2e/grpc_control_api/mod.rs
  tests/e2e/main.rs
Labels: enhancement, k::api, k::refactor, k::testing

#78 Implement screen-sharing
  .clippy.toml
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/src/lib.rs
  jason/src/media/constraints.rs
  jason/src/media/manager.rs
  jason/src/media/mod.rs
  jason/src/peer/media.rs
  jason/src/peer/stream_request.rs
  jason/tests/media/constraints.rs
  jason/tests/media/manager.rs
  mock/control-api/src/callback/mod.rs
  mock/control-api/src/callback/server.rs
  src/api/control/callback/clients/grpc.rs
  src/api/control/callback/mod.rs
  src/api/control/callback/service.rs
  src/api/control/callback/url.rs
Labels: feature, k::api, k::design
