Repository instrumentisto/medea, pull requests merged in 2020-10, with the labels that each got.

#145 Improve Jason media constraints to support multiple video tracks (#27)
  Cargo.lock
  jason/CHANGELOG.md
  jason/src/media/constraints.rs
  jason/src/media/manager.rs
  jason/src/media/mod.rs
  jason/src/media/track.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/media/receiver.rs
  jason/src/peer/tracks_request.rs
  jason/tests/api/room.rs
  jason/tests/media/constraints.rs
  jason/tests/media/manager.rs
  jason/tests/peer/mod.rs
  jason/tests/web.rs
  proto/client-api/CHANGELOG.md
  proto/client-api/src/lib.rs
  proto/client-api/src/stats.rs
  src/media/peer.rs
Labels: enhancement, feature, k::api, k::design, k::refactor

#146 Return enums instead of strings in Jason's exported functions
  Cargo.lock
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/src/api/room.rs
  jason/src/media/constraints.rs
  jason/src/media/device_info.rs
  jason/src/media/mod.rs
  jason/src/media/track.rs
  jason/src/peer/conn.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/media/receiver.rs
  jason/src/peer/media/sender.rs
  jason/src/peer/mod.rs
  jason/src/peer/tracks_request.rs
  jason/tests/api/connection.rs
  jason/tests/api/room.rs
  jason/tests/media/constraints.rs
  jason/tests/media/manager.rs
  jason/tests/peer/mod.rs
  jason/tests/web.rs
Labels: enhancement, k::refactor

#150 Upgrade stable Rust to 1.47 version
  Cargo.lock
  Makefile
  crates/medea-coturn-telnet-client/src/lib.rs
  crates/medea-macro/src/dispatchable.rs
  crates/medea-macro/src/enum_delegate.rs
  crates/medea-reactive/src/lib.rs
  jason/src/peer/mod.rs
  jason/src/rpc/websocket.rs
  mock/control-api/src/api/mod.rs
  src/api/client/session.rs
  src/api/control/refs/local_uri.rs
  src/signalling/participants.rs
  src/signalling/room_service.rs
  tests/e2e/grpc_control_api/create.rs
Labels: enhancement, k::refactor, k::toolchain

#149 Derive (de)serialization in medea-client-api-proto (#27)
  proto/client-api/src/lib.rs
  src/api/client/session.rs
Labels: enhancement, k::api, k::refactor

#148 Move RoomId and Credentials to the 'medea-client-api-proto' crate (#27)
  proto/client-api/CHANGELOG.md
  proto/client-api/src/lib.rs
  src/api/client/rpc_connection.rs
  src/api/client/server.rs
  src/api/client/session.rs
  src/api/control/member.rs
  src/api/control/mod.rs
  src/api/control/refs/fid.rs
  src/api/control/refs/local_uri.rs
  src/api/control/refs/mod.rs
  src/api/control/refs/src_uri.rs
  src/api/control/room.rs
  src/media/ice_user.rs
  src/signalling/elements/member.rs
  src/signalling/participants.rs
  src/signalling/peers/metrics/flowing_detector.rs
  src/signalling/peers/metrics/mod.rs
  src/signalling/peers/mod.rs
  src/signalling/peers/traffic_watcher.rs
  src/signalling/room/mod.rs
  src/signalling/room/rpc_server.rs
  src/signalling/room_repo.rs
  src/signalling/room_service.rs
  src/turn/allocation_event.rs
  src/turn/mod.rs
  src/turn/service.rs
Labels: enhancement, k::api, k::refactor

#144 Implement simultaneous device and display publishing (#27)
  Cargo.lock
  Makefile
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/e2e-demo/video-call.html
  jason/src/api/room.rs
  jason/src/lib.rs
  jason/src/media/constraints.rs
  jason/src/media/track.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/media/receiver.rs
  jason/src/peer/media/sender.rs
  jason/src/peer/mod.rs
  jason/tests/api/room.rs
  jason/tests/media/constraints.rs
  jason/tests/peer/mod.rs
  jason/tests/web.rs
  proto/client-api/src/lib.rs
  src/media/peer.rs
  tests/e2e/signalling/add_endpoints_synchronization.rs
  tests/e2e/signalling/ice_restart.rs
  tests/e2e/signalling/pub_sub_signallng.rs
  tests/e2e/signalling/three_pubs.rs
Labels: enhancement, k::api, k::design, k::refactor

#152 Extend muting and unmuting send video test (#27)
  jason/src/peer/media/mod.rs
  jason/src/peer/mod.rs
  jason/tests/api/room.rs
  jason/tests/peer/mod.rs
  jason/tests/web.rs
  proto/client-api/src/lib.rs
Labels: enhancement, k::api, k::testing

#153 Wait for OnJoin callback result when accepting RpcConnection
  CHANGELOG.md
  Cargo.lock
  proto/client-api/src/lib.rs
  src/api/client/rpc_connection.rs
  src/api/client/session.rs
  src/api/control/callback/clients/grpc.rs
  src/api/control/callback/clients/mod.rs
  src/api/control/callback/mod.rs
  src/api/control/callback/service.rs
  src/api/control/error_codes.rs
  src/signalling/participants.rs
  src/signalling/room/dynamic_api.rs
  src/signalling/room/mod.rs
  src/signalling/room/rpc_server.rs
  src/utils/mod.rs
Labels: enhancement, k::api

#151 Use 'sendrecv' transceivers (#27)
  Cargo.lock
  Makefile
  jason/Cargo.toml
  jason/demo/index.html
  jason/src/media/constraints.rs
  jason/src/peer/conn.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/media/receiver.rs
  jason/src/peer/media/sender.rs
  jason/src/peer/mod.rs
  jason/src/peer/transceiver.rs
  jason/tests/api/room.rs
  jason/tests/media/mod.rs
  jason/tests/peer/media.rs
  jason/tests/rpc/mod.rs
  src/signalling/room/rpc_server.rs
Labels: enhancement, k::design, k::performance, k::refactor

#134 Fix deduping on force update in Jason (#27)
  src/media/peer.rs
  src/media/track.rs
  tests/e2e/grpc_control_api/mod.rs
  tests/e2e/main.rs
  tests/e2e/signalling/track_disable.rs
Labels: enhancement, k::refactor
