Repository instrumentisto/medea, pull requests merged in 2020-02, with the labels that each got.

#84 Drop Coturn sessions via Telnet
  .travis.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  _dev/coturn/turnserver.conf
  config.toml
  crates/medea-coturn-telnet-client/CHANGELOG.md
  crates/medea-coturn-telnet-client/Cargo.toml
  crates/medea-coturn-telnet-client/LICENSE.md
  crates/medea-coturn-telnet-client/README.md
  crates/medea-coturn-telnet-client/src/client.rs
  crates/medea-coturn-telnet-client/src/lib.rs
  crates/medea-coturn-telnet-client/src/pool.rs
  crates/medea-coturn-telnet-client/src/proto.rs
  jason/demo/chart/medea-demo/Chart.yaml
  jason/demo/chart/medea-demo/templates/configmap.server.yaml
  jason/demo/chart/medea-demo/templates/deployment.server.yaml
  jason/demo/chart/medea-demo/templates/secret.server.yaml
  jason/demo/chart/medea-demo/values.yaml
  jason/demo/minikube.vals.yaml
  jason/demo/staging.vals.yaml
  mock/control-api/Dockerfile
  src/conf/turn.rs
  src/media/ice_user.rs
  src/media/mod.rs
  src/signalling/participants.rs
  src/turn/cli.rs
  src/turn/mod.rs
  src/turn/service.rs
Labels: enhancement, feature, k::design, k::security

#81 Use ApplyTracks for the mute/unmute mechanism (#73)
  .travis.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  crates/medea-coturn-telnet-client/README.md
  crates/medea-reactive/CHANGELOG.md
  crates/medea-reactive/Cargo.toml
  crates/medea-reactive/LICENSE.md
  crates/medea-reactive/README.md
  crates/medea-reactive/src/lib.rs
  docs/rfc/0002-webrc-client-api.md
  jason/CHANGELOG.md
  jason/Cargo.toml
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/src/api/room.rs
  jason/src/media/manager.rs
  jason/src/peer/conn.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/media/mute_state.rs
  jason/src/peer/mod.rs
  jason/src/peer/repo.rs
  jason/src/peer/stream.rs
  jason/src/peer/track.rs
  jason/src/rpc/heartbeat.rs
  jason/src/rpc/mod.rs
  jason/src/rpc/websocket.rs
  jason/src/utils/mod.rs
  jason/tests/api/room.rs
  jason/tests/peer/media.rs
  jason/tests/peer/mod.rs
  jason/tests/rpc/heartbeat.rs
  jason/tests/web.rs
  mock/control-api/Dockerfile
  mock/control-api/src/api/mod.rs
  mock/control-api/src/client.rs
  proto/client-api/CHANGELOG.md
  proto/client-api/src/lib.rs
  proto/control-api/README.md
  src/api/control/mod.rs
  src/media/peer.rs
  src/signalling/room.rs
  src/turn/cli.rs
  src/turn/repo.rs
  tests/e2e/grpc_control_api/mod.rs
Labels: enhancement, k::api, k::design, k::refactor

#86 Implement commands validation
  CHANGELOG.md
  Cargo.lock
  crates/medea-reactive/src/lib.rs
  proto/client-api/src/lib.rs
  src/api/client/rpc_connection.rs
  src/api/client/session.rs
  src/api/control/member.rs
  src/api/mod.rs
  src/signalling/room.rs
  tests/e2e/signalling/command_validation.rs
  tests/e2e/signalling/mod.rs
Labels: enhancement, k::api, k::security

#88 Fix Jason reconnection bug
  Cargo.lock
  jason/src/rpc/mod.rs
Labels: enhancement, k::api
