Repository instrumentisto/medea, pull requests merged in 2020-04, with the labels that each got.

#95 Configure Member's RPC connection settings via Control API (#27)
  CHANGELOG.md
  Cargo.lock
  _dev/specs/pub-pub-video-call.yml
  config.toml
  docs/rfc/0001-control-api.md
  jason/e2e-demo/js/index.js
  jason/e2e-demo/video-call.html
  mock/control-api/Cargo.toml
  mock/control-api/src/api/member.rs
  proto/control-api/Cargo.toml
  proto/control-api/build.rs
  proto/control-api/src/grpc/api.proto
  proto/control-api/src/grpc/api.rs
  src/api/client/rpc_connection.rs
  src/api/client/server.rs
  src/api/control/error_codes.rs
  src/api/control/member.rs
  src/api/control/mod.rs
  src/api/control/room.rs
  src/conf/rpc.rs
  src/signalling/elements/member.rs
  src/signalling/participants.rs
  src/signalling/room.rs
  tests/e2e/callbacks/member.rs
  tests/e2e/grpc_control_api/mod.rs
  tests/e2e/grpc_control_api/rpc_settings.rs
  tests/e2e/grpc_control_api/signaling.rs
  tests/e2e/signalling/command_validation.rs
  tests/e2e/signalling/mod.rs
  tests/e2e/signalling/pub_sub_signallng.rs
  tests/e2e/signalling/rpc_settings.rs
  tests/e2e/signalling/three_pubs.rs
Labels: feature, k::api, k::config

#96 Optimize RtcStat gathering (#27)
  Cargo.lock
  Cargo.toml
  Makefile
  jason/Cargo.toml
  jason/src/peer/repo.rs
  jason/tests/peer/mod.rs
  proto/client-api/Cargo.toml
  proto/client-api/src/stats.rs
  src/log/mod.rs
Labels: enhancement, k::api, k::monitoring, k::performance

#97 Stop unused media tracks (#27)
  Makefile
  crates/medea-coturn-telnet-client/src/client.rs
  crates/medea-coturn-telnet-client/src/proto.rs
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/e2e-demo/video-call.html
  jason/src/api/connection.rs
  jason/src/api/room.rs
  jason/src/lib.rs
  jason/src/media/constraints.rs
  jason/src/media/device_info.rs
  jason/src/media/manager.rs
  jason/src/media/mod.rs
  jason/src/media/stream.rs
  jason/src/peer/conn.rs
  jason/src/peer/ice_server.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/mod.rs
  jason/src/peer/stats.rs
  jason/src/peer/stream.rs
  jason/src/peer/stream_request.rs
  jason/src/peer/track.rs
  jason/src/rpc/websocket.rs
  jason/tests/api/room.rs
  jason/tests/media/constraints.rs
  jason/tests/media/manager.rs
  jason/tests/media/mod.rs
  jason/tests/media/stream.rs
  jason/tests/mock_navigator.js
  jason/tests/peer/media.rs
  jason/tests/web.rs
  jason/webdriver.json
  mock/control-api/src/api/endpoint.rs
  mock/control-api/src/api/mod.rs
  mock/control-api/src/callback/mod.rs
  mock/control-api/src/client.rs
  src/api/control/callback/clients/grpc.rs
  src/api/control/endpoints/mod.rs
  src/api/control/endpoints/webrtc_publish_endpoint.rs
  src/api/control/error_codes.rs
  src/signalling/room.rs
  src/turn/allocation_event.rs
  src/turn/cli.rs
Labels: enhancement, k::api, k::design
