Repository instrumentisto/medea, pull requests merged in 2020-01, with the labels that each got.

#75 Jason WebSocket reconnection (#47)
  CHANGELOG.md
  Cargo.lock
  config.toml
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/e2e-demo/video-call.html
  jason/src/api/connection.rs
  jason/src/api/mod.rs
  jason/src/api/room.rs
  jason/src/media/constraints.rs
  jason/src/media/manager.rs
  jason/src/peer/media.rs
  jason/src/peer/mod.rs
  jason/src/peer/repo.rs
  jason/src/peer/stream.rs
  jason/src/rpc/backoff_delayer.rs
  jason/src/rpc/heartbeat.rs
  jason/src/rpc/mod.rs
  jason/src/rpc/reconnect_handle.rs
  jason/src/rpc/websocket.rs
  jason/src/utils/errors.rs
  jason/src/utils/event_listener.rs
  jason/src/utils/mod.rs
  jason/tests/api/room.rs
  jason/tests/peer/media.rs
  jason/tests/peer/mod.rs
  jason/tests/rpc/backoff_delayer.rs
  jason/tests/rpc/heartbeat.rs
  jason/tests/rpc/mod.rs
  jason/tests/rpc/websocket.rs
  jason/tests/web.rs
  proto/client-api/CHANGELOG.md
  proto/client-api/Cargo.toml
  proto/client-api/src/lib.rs
  proto/control-api/src/grpc/api.rs
  proto/control-api/src/grpc/callback.rs
  src/api/client/rpc_connection.rs
  src/api/client/server.rs
  src/api/client/session.rs
  src/conf/rpc.rs
  src/signalling/participants.rs
  src/signalling/peers.rs
Labels: feature, k::api

#79 WebRTC relay mode configuration
  CHANGELOG.md
  Cargo.lock
  _dev/specs/relay-pub-pub-video-call.yml
  docs/rfc/0001-control-api.md
  docs/rfc/0002-webrc-client-api.md
  jason/CHANGELOG.md
  jason/Cargo.toml
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/e2e-demo/video-call.html
  jason/src/api/room.rs
  jason/src/peer/conn.rs
  jason/src/peer/mod.rs
  jason/src/peer/repo.rs
  jason/tests/api/room.rs
  jason/tests/peer/media.rs
  jason/tests/peer/mod.rs
  mock/control-api/src/api/endpoint.rs
  proto/client-api/CHANGELOG.md
  proto/client-api/src/lib.rs
  proto/control-api/CHANGELOG.md
  proto/control-api/src/grpc/api.proto
  proto/control-api/src/grpc/api.rs
  proto/control-api/src/grpc/callback.rs
  src/api/control/endpoints/webrtc_play_endpoint.rs
  src/api/control/endpoints/webrtc_publish_endpoint.rs
  src/media/peer.rs
  src/signalling/elements/endpoints/webrtc/play_endpoint.rs
  src/signalling/elements/endpoints/webrtc/publish_endpoint.rs
  src/signalling/elements/member.rs
  src/signalling/peers.rs
  src/signalling/room.rs
  tests/e2e/signalling/pub_sub_signallng.rs
  tests/specs/pub-sub-video-call.yml
Labels: enhancement, k::api, k::design

#80 Upgrade medea to std::future and async/.await
  Cargo.lock
  Cargo.toml
  src/api/client/rpc_connection.rs
  src/api/client/server.rs
  src/api/client/session.rs
  src/api/control/callback/clients/grpc.rs
  src/api/control/callback/clients/mod.rs
  src/api/control/callback/service.rs
  src/api/control/callback/url.rs
  src/api/control/grpc/server.rs
  src/api/control/mod.rs
  src/api/control/refs/fid.rs
  src/api/control/refs/local_uri.rs
  src/api/mod.rs
  src/main.rs
  src/shutdown.rs
  src/signalling/participants.rs
  src/signalling/room.rs
  src/signalling/room_service.rs
  src/turn/repo.rs
  src/turn/service.rs
  src/utils/mod.rs
  tests/e2e/callbacks/member.rs
  tests/e2e/callbacks/mod.rs
  tests/e2e/grpc_control_api/mod.rs
  tests/e2e/grpc_control_api/signaling.rs
  tests/e2e/signalling/mod.rs
  tests/e2e/signalling/pub_sub_signallng.rs
  tests/e2e/signalling/three_pubs.rs
Labels: enhancement, k::refactor

#82 Refactor turn::* package to more idiomatic async/.await (#77)
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  src/signalling/participants.rs
  src/turn/repo.rs
  src/turn/service.rs
Labels: enhancement, k::refactor
