Repository instrumentisto/medea, pull requests merged in 2020-03, with the labels that each got.

#87 Emit `PeerConnectionState` client metrics
  Cargo.lock
  jason/CHANGELOG.md
  jason/src/api/room.rs
  jason/src/media/manager.rs
  jason/src/peer/conn.rs
  jason/src/peer/mod.rs
  proto/client-api/CHANGELOG.md
  proto/client-api/src/lib.rs
Labels: enhancement, feature, k::api, k::design

#92 Improve medea-demo stability
  jason/Cargo.toml
  jason/demo/index.html
  jason/demo/staging.vals.yaml
  jason/src/peer/conn.rs
  jason/src/rpc/mod.rs
  jason/tests/peer/mod.rs
  src/api/client/server.rs
  src/api/client/session.rs
  src/api/control/grpc/server.rs
  src/api/control/refs/local_uri.rs
  src/api/control/room.rs
  src/signalling/room.rs
Labels: enhancement, k::deploy, k::logging, k::performance

#90 Gather PeerConnection stats
  .clippy.toml
  Cargo.lock
  docs/rfc/0002-webrc-client-api.md
  jason/CHANGELOG.md
  jason/Cargo.toml
  jason/src/api/room.rs
  jason/src/peer/conn.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/mod.rs
  jason/src/peer/repo.rs
  jason/src/peer/stats.rs
  jason/src/rpc/heartbeat.rs
  jason/src/utils/mod.rs
  jason/tests/peer/mod.rs
  proto/client-api/CHANGELOG.md
  proto/client-api/Cargo.toml
  proto/client-api/src/lib.rs
  proto/client-api/src/stats.rs
  src/signalling/room.rs
Labels: feature, k::api, k::monitoring

#94 Add service for Coturn stats
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  _dev/coturn/turnserver.conf
  jason/demo/chart/medea-demo/Chart.yaml
  jason/demo/chart/medea-demo/templates/deployment.server.yaml
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  mock/control-api/Cargo.toml
  src/api/control/error_codes.rs
  src/api/control/member.rs
  src/main.rs
  src/media/ice_user.rs
  src/media/peer.rs
  src/signalling/elements/member.rs
  src/signalling/participants.rs
  src/signalling/peers.rs
  src/signalling/room.rs
  src/signalling/room_service.rs
  src/turn/allocation_event.rs
  src/turn/cli.rs
  src/turn/coturn_metrics.rs
  src/turn/mod.rs
  src/turn/service.rs
  tests/e2e/signalling/command_validation.rs
  tests/e2e/signalling/mod.rs
  tests/e2e/signalling/pub_sub_signallng.rs
  tests/e2e/signalling/three_pubs.rs
Labels: enhancement, feature, k::design, k::monitoring
