Repository instrumentisto/medea, pull requests merged in 2020-07, with the labels that each got.

#115 Omit using 64-bit integer types in Jason and Client API
  .clippy.toml
  Cargo.lock
  jason/src/rpc/heartbeat.rs
  jason/src/rpc/mod.rs
  jason/tests/api/room.rs
  jason/tests/peer/mod.rs
  jason/tests/rpc/mod.rs
  proto/client-api/CHANGELOG.md
  proto/client-api/src/lib.rs
  proto/client-api/src/stats.rs
  src/api/client/session.rs
  tests/e2e/signalling/mod.rs
  tests/e2e/signalling/rpc_settings.rs
Labels: enhancement, k::api, k::refactor

#114 Update demo apps (#27)
  Makefile
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/e2e-demo/video-call.html
  mock/control-api/src/api/endpoint.rs
  src/api/control/endpoints/webrtc_publish_endpoint.rs
Labels: enhancement, k::refactor, k::testing

#118 Implement WebSocket notifications in medea-control-api-mock
  Cargo.lock
  mock/control-api/Cargo.toml
  mock/control-api/README.md
  mock/control-api/src/api/mod.rs
  mock/control-api/src/api/ws.rs
  mock/control-api/src/client.rs
Labels: feature, k::api, k::testing

#117 Fix connecting members with muted track(s) (#85, #27)
  Cargo.lock
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/src/api/room.rs
  jason/src/media/constraints.rs
  jason/src/media/manager.rs
  jason/src/media/mod.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/mod.rs
  jason/src/peer/repo.rs
  jason/src/peer/stream_request.rs
  jason/tests/api/room.rs
  jason/tests/media/constraints.rs
  jason/tests/peer/media.rs
  jason/tests/peer/mod.rs
  jason/tests/web.rs
  proto/client-api/src/lib.rs
  src/media/peer.rs
  src/signalling/peers/mod.rs
  src/signalling/room/command_handler.rs
Labels: enhancement, k::api, k::refactor

#120 Add ConnectionHandle.on_close callback (#27)
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/src/api/connection.rs
  jason/src/api/mod.rs
  jason/src/api/room.rs
  jason/src/utils/callback.rs
  jason/src/utils/mod.rs
  jason/tests/api/connection.rs
  jason/tests/api/mod.rs
Labels: enhancement, feature, k::api

#121 Update redis and tonic dependencies
  Cargo.lock
  Cargo.toml
  Makefile
  mock/control-api/Cargo.toml
  proto/control-api/Cargo.toml
  proto/control-api/src/grpc/api.rs
  proto/control-api/src/grpc/callback.rs
  src/signalling/room_service.rs
  src/turn/allocation_event.rs
  src/turn/coturn_metrics.rs
Labels: enhancement, k::refactor

#111 Implement Peer's renegotiation synchronization (#27)
  Cargo.lock
  jason/src/api/room.rs
  jason/src/peer/conn.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/mod.rs
  jason/tests/peer/media.rs
  jason/tests/peer/mod.rs
  proto/client-api/src/lib.rs
  src/api/client/server.rs
  src/media/peer.rs
  src/signalling/participants.rs
  src/signalling/peers/mod.rs
  src/signalling/room/command_handler.rs
  src/signalling/room/dynamic_api.rs
  src/signalling/room/mod.rs
  src/signalling/room/peer_events_handler.rs
  src/signalling/room/rpc_server.rs
  src/signalling/room_service.rs
  tests/e2e/callbacks/member.rs
  tests/e2e/grpc_control_api/create.rs
  tests/e2e/grpc_control_api/mod.rs
  tests/e2e/grpc_control_api/signaling.rs
  tests/e2e/signalling/add_endpoints_synchronization.rs
  tests/e2e/signalling/command_validation.rs
  tests/e2e/signalling/mod.rs
  tests/e2e/signalling/track_disable.rs
Labels: enhancement, k::design

#122 Upgrade stable Rust to 1.45 version
  Makefile
  jason/src/peer/mod.rs
  src/media/peer.rs
Labels: enhancement, k::toolchain

#123 Extend RemoteMediaStream callbacks in Jason (#27)
  Cargo.lock
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/src/api/connection.rs
  jason/src/api/room.rs
  jason/src/media/stream.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/media/receiver.rs
  jason/src/peer/media/sender.rs
  jason/src/peer/mod.rs
  jason/src/peer/stream.rs
  jason/tests/api/connection.rs
  jason/tests/peer/mod.rs
  jason/tests/peer/stream.rs
  jason/tests/web.rs
Labels: feature, k::api

#125 Handle fragmented WebSocket frames
  Cargo.lock
  Cargo.toml
  src/api/client/session.rs
Labels: enhancement, k::design, k::refactor
