Repository instrumentisto/medea, pull requests merged in 2021-04, with the labels that each got.

#187 Implement Control API basic Apply method (#27)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  jason/e2e-demo/js/index.js
  jason/src/media/track/remote.rs
  mock/control-api/CHANGELOG.md
  mock/control-api/Cargo.toml
  mock/control-api/README.md
  mock/control-api/src/api/mod.rs
  mock/control-api/src/client.rs
  mock/control-api/src/lib.rs
  proto/control-api/CHANGELOG.md
  proto/control-api/Cargo.toml
  proto/control-api/src/grpc/api.proto
  proto/control-api/src/grpc/api.rs
  src/api/control/endpoints/webrtc_publish_endpoint.rs
  src/api/control/error_codes.rs
  src/api/control/grpc/server.rs
  src/api/control/member.rs
  src/api/control/mod.rs
  src/api/control/pipeline.rs
  src/api/control/room.rs
  src/conf/server.rs
  src/media/peer.rs
  src/signalling/elements/endpoints/webrtc/play_endpoint.rs
  src/signalling/elements/member.rs
  src/signalling/participants.rs
  src/signalling/peers/mod.rs
  src/signalling/room/dynamic_api.rs
  src/signalling/room/mod.rs
  src/signalling/room_service.rs
  tests/e2e/control.rs
  tests/e2e/features/apply.feature
  tests/e2e/features/create_endpoint.feature
  tests/e2e/features/delete_endpoint.feature
  tests/e2e/features/state_synchronization.feature
  tests/e2e/object/room.rs
  tests/e2e/object/tracks_store.rs
  tests/e2e/steps/control_api.rs
  tests/e2e/steps/track.rs
  tests/e2e/world/mod.rs
  tests/integration/grpc_control_api/create.rs
  tests/integration/grpc_control_api/delete.rs
  tests/integration/grpc_control_api/mod.rs
  tests/integration/signalling/dynamic_endpoints_removal.rs
  tests/integration/signalling/ice_restart.rs
  tests/integration/signalling/mod.rs
  tests/integration/signalling/track_disable.rs
  tests/integration/signalling/track_mute.rs
Labels: feature, k::api

#191 Add on_muted and on_unmuted callbacks to RemoteMediaTrack class (#27)
  Cargo.lock
  jason/CHANGELOG.md
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/src/media/track/remote.rs
  jason/src/peer/media/receiver/component.rs
  jason/src/peer/media/receiver/mod.rs
  jason/tests/media/track.rs
  jason/tests/web.rs
  tests/e2e/features/media_mute.feature
  tests/e2e/object/remote_track.rs
  tests/e2e/object/room.rs
  tests/e2e/steps/track.rs
Labels: feature, k::api

#190 Add Flutter toolchain for the Jason (#182)
  .github/workflows/ci.yml
  Makefile
  jason/flutter/.editorconfig
  jason/flutter/.gitignore
  jason/flutter/CHANGELOG.md
  jason/flutter/LICENSE.md
  jason/flutter/README.md
  jason/flutter/analysis_options.yaml
  jason/flutter/android/.gitignore
  jason/flutter/android/build.gradle
  jason/flutter/android/gradle.properties
  jason/flutter/android/gradle/wrapper/gradle-wrapper.properties
  jason/flutter/android/settings.gradle
  jason/flutter/android/src/main/AndroidManifest.xml
  jason/flutter/android/src/main/kotlin/com/medea/jason/JasonPlugin.kt
  jason/flutter/example/.gitignore
  jason/flutter/example/android/.gitignore
  jason/flutter/example/android/app/build.gradle
  jason/flutter/example/android/app/src/debug/AndroidManifest.xml
  jason/flutter/example/android/app/src/main/AndroidManifest.xml
  jason/flutter/example/android/app/src/main/kotlin/com/instrumentisto/medea_jason_example/MainActivity.kt
  jason/flutter/example/android/app/src/main/res/drawable-v21/launch_background.xml
  jason/flutter/example/android/app/src/main/res/drawable/launch_background.xml
  jason/flutter/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  jason/flutter/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  jason/flutter/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  jason/flutter/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  jason/flutter/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  jason/flutter/example/android/app/src/main/res/values-night/styles.xml
  jason/flutter/example/android/app/src/main/res/values/styles.xml
  jason/flutter/example/android/app/src/profile/AndroidManifest.xml
  jason/flutter/example/android/build.gradle
  jason/flutter/example/android/gradle.properties
  jason/flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  jason/flutter/example/android/settings.gradle
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/example/lib/main.dart
  jason/flutter/example/pubspec.yaml
  jason/flutter/example/test_driver/integration_test.dart
  jason/flutter/lib/jason.dart
  jason/flutter/pubspec.yaml
  jason/jason-dummy/.gitignore
  jason/jason-dummy/Cargo.toml
  jason/jason-dummy/src/lib.rs
Labels: feature, k::toolchain, platform::android

#194 Implement basic FFI bindings for Jason API
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/example/lib/main.dart
  jason/flutter/lib/audio_track_constraints.dart
  jason/flutter/lib/connection_handle.dart
  jason/flutter/lib/device_video_track_constraints.dart
  jason/flutter/lib/display_video_track_constraints.dart
  jason/flutter/lib/input_device_info.dart
  jason/flutter/lib/jason.dart
  jason/flutter/lib/kind.dart
  jason/flutter/lib/local_media_track.dart
  jason/flutter/lib/media_manager.dart
  jason/flutter/lib/media_stream_settings.dart
  jason/flutter/lib/reconnect_handle.dart
  jason/flutter/lib/remote_media_track.dart
  jason/flutter/lib/room_close_reason.dart
  jason/flutter/lib/room_handle.dart
  jason/flutter/lib/util/move_semantic.dart
  jason/flutter/lib/util/native_string.dart
  jason/flutter/lib/util/nullable_pointer.dart
  jason/flutter/lib/util/ptrarray.dart
  jason/jason-dummy/Cargo.toml
  jason/jason-dummy/src/audio_track_constraints.rs
  jason/jason-dummy/src/connection_handle.rs
  jason/jason-dummy/src/device_video_track_constraints.rs
  jason/jason-dummy/src/display_video_track_constraints.rs
  jason/jason-dummy/src/input_device_info.rs
  jason/jason-dummy/src/jason.rs
  jason/jason-dummy/src/lib.rs
  jason/jason-dummy/src/local_media_track.rs
  jason/jason-dummy/src/media_manager.rs
  jason/jason-dummy/src/media_stream_settings.rs
  jason/jason-dummy/src/reconnect_handle.rs
  jason/jason-dummy/src/remote_media_track.rs
  jason/jason-dummy/src/room_close_reason.rs
  jason/jason-dummy/src/room_handle.rs
  jason/jason-dummy/src/unimplemented.rs
  jason/jason-dummy/src/utils/arrays.rs
  jason/jason-dummy/src/utils/mod.rs
  jason/jason-dummy/src/utils/string.rs
Labels: feature, k::api, k::design, platform::android

#195 Implement FFI callbacks bindings for Jason API
  Cargo.lock
  Makefile
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/lib/connection_handle.dart
  jason/flutter/lib/jason.dart
  jason/flutter/lib/remote_media_track.dart
  jason/flutter/lib/room_handle.dart
  jason/flutter/lib/util/callback.dart
  jason/flutter/lib/util/ptrarray.dart
  jason/jason-dummy/.editorconfig
  jason/jason-dummy/Cargo.toml
  jason/jason-dummy/build.rs
  jason/jason-dummy/src/audio_track_constraints.rs
  jason/jason-dummy/src/connection_handle.rs
  jason/jason-dummy/src/dart_api_dl/README.md
  jason/jason-dummy/src/dart_api_dl/include/bin/dart_io_api.h
  jason/jason-dummy/src/dart_api_dl/include/dart_api.h
  jason/jason-dummy/src/dart_api_dl/include/dart_api_dl.c
  jason/jason-dummy/src/dart_api_dl/include/dart_api_dl.h
  jason/jason-dummy/src/dart_api_dl/include/dart_embedder_api.h
  jason/jason-dummy/src/dart_api_dl/include/dart_native_api.h
  jason/jason-dummy/src/dart_api_dl/include/dart_tools_api.h
  jason/jason-dummy/src/dart_api_dl/include/dart_version.h
  jason/jason-dummy/src/dart_api_dl/include/internal/dart_api_dl_impl.h
  jason/jason-dummy/src/dart_api_dl/trampoline.c
  jason/jason-dummy/src/device_video_track_constraints.rs
  jason/jason-dummy/src/display_video_track_constraints.rs
  jason/jason-dummy/src/input_device_info.rs
  jason/jason-dummy/src/jason.rs
  jason/jason-dummy/src/lib.rs
  jason/jason-dummy/src/local_media_track.rs
  jason/jason-dummy/src/media_manager.rs
  jason/jason-dummy/src/media_stream_settings.rs
  jason/jason-dummy/src/reconnect_handle.rs
  jason/jason-dummy/src/remote_media_track.rs
  jason/jason-dummy/src/room_close_reason.rs
  jason/jason-dummy/src/room_handle.rs
  jason/jason-dummy/src/utils/arrays.rs
  jason/jason-dummy/src/utils/closure.rs
  jason/jason-dummy/src/utils/dart_api.rs
  jason/jason-dummy/src/utils/mod.rs
Labels: feature, k::api, platform::android
