Repository instrumentisto/medea, pull requests merged in 2021-06, with the labels that each got.

#205 Extend Rust to Dart error propagation
  Cargo.lock
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/lib/connection_handle.dart
  jason/flutter/lib/ffi/exceptions.dart
  jason/flutter/lib/media_manager.dart
  jason/flutter/lib/reconnect_handle.dart
  jason/flutter/lib/room_handle.dart
  jason/src/api/dart/connection_handle.rs
  jason/src/api/dart/media_manager_handle.rs
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/dart/room_handle.rs
  jason/src/api/dart/utils/err.rs
  jason/src/api/dart/utils/mod.rs
  jason/src/media/manager.rs
  jason/src/peer/component/mod.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/media/sender/component.rs
  jason/src/platform/dart/error.rs
  jason/src/platform/dart/media_devices.rs
  jason/src/platform/wasm/media_devices.rs
  jason/src/room.rs
  jason/tests/peer/mod.rs
Labels: enhancement, k::api, k::refactor, platform::android

#206 Improve Jason reconnect API
  Cargo.lock
  Cargo.toml
  Makefile
  jason/CHANGELOG.md
  jason/Cargo.toml
  jason/demo/index.html
  jason/e2e-demo/js/index.js
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/lib/reconnect_handle.dart
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/wasm/reconnect_handle.rs
  jason/src/platform/wasm/mod.rs
  jason/src/rpc/backoff_delayer.rs
  jason/src/rpc/reconnect_handle.rs
  jason/tests/rpc/backoff_delayer.rs
  jason/tests/rpc/mod.rs
  jason/tests/rpc/reconnect_handle.rs
  tests/e2e/browser/client.rs
  tests/e2e/features/disable_remote_media.feature
  tests/e2e/features/enable_remote_media.feature
  tests/e2e/features/get_user_media.feature
  tests/e2e/features/local_tracks_create.feature
  tests/e2e/features/media_disable.feature
  tests/e2e/features/media_mute.feature
  tests/e2e/features/state_synchronization.feature
  tests/e2e/object/jason.rs
  tests/e2e/object/mod.rs
  tests/e2e/object/room.rs
  tests/e2e/steps/media_state.rs
  tests/e2e/steps/mod.rs
  tests/e2e/steps/room.rs
  tests/e2e/steps/track.rs
  tests/e2e/steps/websocket.rs
  tests/e2e/world/member.rs
  tests/e2e/world/mod.rs
Labels: enhancement, k::api, k::refactor

#207 Fix flaky E2E tests
  mock/control-api/src/api/endpoint.rs
  tests/e2e/features/media_mute.feature
  tests/e2e/object/room.rs
  tests/e2e/object/tracks_store.rs
  tests/e2e/steps/track.rs
  tests/e2e/world/member.rs
  tests/e2e/world/mod.rs
Labels: enhancement, k::testing

#208 Upgrade stable Rust to 1.53 version
  Cargo.lock
  Makefile
  crates/medea-coturn-telnet-client/src/lib.rs
  crates/medea-macro/src/dispatchable.rs
  crates/medea-macro/src/lib.rs
  crates/medea-macro/src/watchers.rs
  crates/medea-macro/tests/js_caused.rs
  crates/medea-reactive/src/collections/hash_map.rs
  crates/medea-reactive/src/collections/hash_set.rs
  crates/medea-reactive/src/lib.rs
  jason/build.rs
  jason/flutter/example/pubspec.lock
  jason/src/api/wasm/constraints_update_exception.rs
  jason/src/lib.rs
  jason/src/media/constraints.rs
  jason/src/peer/media/receiver/mod.rs
  jason/src/peer/media/sender/component.rs
  jason/src/peer/mod.rs
  jason/src/platform/wasm/transceiver.rs
  jason/src/room.rs
  jason/tests/web.rs
  mock/control-api/src/lib.rs
  proto/client-api/src/lib.rs
  proto/control-api/build.rs
  proto/control-api/src/lib.rs
  src/api/control/callback/url.rs
  src/api/control/member.rs
  src/api/control/refs/fid.rs
  src/api/control/refs/local_uri.rs
  src/lib.rs
  src/main.rs
  src/media/peer.rs
  src/shutdown.rs
  src/signalling/peers/metrics/flowing_detector.rs
  src/signalling/peers/metrics/quality_meter.rs
  src/signalling/peers/traffic_watcher.rs
  src/signalling/room/dynamic_api.rs
  tests/e2e/main.rs
  tests/integration/main.rs
Labels: enhancement, k::refactor, k::toolchain

#209 Refactor Jason error propagation
  Makefile
  jason/CHANGELOG.md
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/lib/ffi/exceptions.dart
  jason/flutter/lib/media_manager.dart
  jason/src/api/dart/connection_handle.rs
  jason/src/api/dart/media_manager_handle.rs
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/dart/room_handle.rs
  jason/src/api/dart/utils/err.rs
  jason/src/api/dart/utils/mod.rs
  jason/src/api/wasm/constraints_update_exception.rs
  jason/src/connection.rs
  jason/src/jason.rs
  jason/src/media/manager.rs
  jason/src/media/mod.rs
  jason/src/peer/component/mod.rs
  jason/src/peer/component/tracks_repository.rs
  jason/src/peer/component/watchers.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/media/receiver/component.rs
  jason/src/peer/media/sender/component.rs
  jason/src/peer/media/sender/mod.rs
  jason/src/peer/media/transitable_state/controller.rs
  jason/src/peer/media/transitable_state/media_exchange_state.rs
  jason/src/peer/media/transitable_state/mod.rs
  jason/src/peer/media/transitable_state/mute_state.rs
  jason/src/peer/mod.rs
  jason/src/peer/repo.rs
  jason/src/peer/tracks_request.rs
  jason/src/platform/dart/media_devices.rs
  jason/src/platform/transport.rs
  jason/src/platform/wasm/media_devices.rs
  jason/src/platform/wasm/transport.rs
  jason/src/room.rs
  jason/src/rpc/heartbeat.rs
  jason/src/rpc/mod.rs
  jason/src/rpc/reconnect_handle.rs
  jason/src/rpc/rpc_session.rs
  jason/src/rpc/websocket/client.rs
  jason/tests/media/manager.rs
  jason/tests/room/room.rs
  jason/tests/rpc/reconnect_handle.rs
Labels: enhancement, k::api, k::refactor

#198 Implement FFI Result bindings for Jason API (#195)
  Cargo.lock
  jason/Cargo.toml
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/lib/ffi/exceptions.dart
  jason/flutter/lib/reconnect_handle.dart
  jason/flutter/lib/room_handle.dart
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/dart/room_handle.rs
  jason/src/api/dart/utils/err.rs
  jason/src/api/dart/utils/mod.rs
  jason/src/api/wasm/room_handle.rs
  jason/src/rpc/mod.rs
  jason/src/rpc/reconnect_handle.rs
  jason/src/rpc/rpc_session.rs
  jason/tests/room/room.rs
  jason/tests/rpc/reconnect_handle.rs
Labels: enhancement, k::api, k::refactor, platform::android
