Repository instrumentisto/medea, pull requests merged in 2021-05, with the labels that each got.

#196 Implement FFI Futures bindings for Jason API (#195)
  Cargo.lock
  jason/.cargo/config
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/lib/audio_track_constraints.dart
  jason/flutter/lib/jason.dart
  jason/flutter/lib/media_manager.dart
  jason/flutter/lib/reconnect_handle.dart
  jason/flutter/lib/room_handle.dart
  jason/flutter/lib/util/completer.dart
  jason/src/api/dart/audio_track_constraints.rs
  jason/src/api/dart/media_manager_handle.rs
  jason/src/api/dart/mod.rs
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/dart/room_handle.rs
  jason/src/api/dart/utils/arrays.rs
  jason/src/api/dart/utils/mod.rs
  jason/src/platform/dart/mod.rs
  jason/src/platform/dart/utils/callback.rs
  jason/src/platform/dart/utils/completer.rs
  jason/src/platform/dart/utils/dart_api.rs
  jason/src/platform/dart/utils/mod.rs
  jason/src/rpc/reconnect_handle.rs
Labels: enhancement, feature, k::api, platform::android

#200 Implement Dart executor for async functions in Jason API
  Cargo.lock
  jason/flutter/lib/jason.dart
  jason/flutter/lib/reconnect_handle.dart
  jason/flutter/lib/room_handle.dart
  jason/flutter/lib/util/executor.dart
  jason/src/api/dart/utils/mod.rs
  jason/src/platform/dart/api_dl/trampoline.c
  jason/src/platform/dart/executor/mod.rs
  jason/src/platform/dart/executor/task.rs
  jason/src/platform/dart/mod.rs
  jason/src/platform/dart/utils/completer.rs
  jason/src/platform/dart/utils/dart_api.rs
Labels: feature, k::design, platform::android

#201 Reduce code duplication in Jason platform-specific code
  Cargo.lock
  jason/src/api/dart/connection_handle.rs
  jason/src/api/dart/device_video_track_constraints.rs
  jason/src/api/dart/input_device_info.rs
  jason/src/api/dart/jason_error.rs
  jason/src/api/dart/local_media_track.rs
  jason/src/api/dart/mod.rs
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/dart/remote_media_track.rs
  jason/src/api/dart/room_handle.rs
  jason/src/media/constraints.rs
  jason/src/media/mod.rs
  jason/src/media/track/mod.rs
  jason/src/platform/callback.rs
  jason/src/platform/dart/mod.rs
  jason/src/platform/dart/transceiver.rs
  jason/src/platform/dart/utils/function.rs
  jason/src/platform/dart/utils/mod.rs
  jason/src/platform/mod.rs
  jason/src/platform/transceiver.rs
  jason/src/platform/wasm/mod.rs
  jason/src/platform/wasm/transceiver.rs
  jason/src/platform/wasm/utils/function.rs
  jason/src/platform/wasm/utils/mod.rs
Labels: enhancement, k::refactor

#202 Use ptr::NonNull in Jason FFI API
  jason/src/api/dart/audio_track_constraints.rs
  jason/src/api/dart/connection_handle.rs
  jason/src/api/dart/device_video_track_constraints.rs
  jason/src/api/dart/display_video_track_constraints.rs
  jason/src/api/dart/input_device_info.rs
  jason/src/api/dart/jason.rs
  jason/src/api/dart/local_media_track.rs
  jason/src/api/dart/media_manager_handle.rs
  jason/src/api/dart/media_stream_settings.rs
  jason/src/api/dart/mod.rs
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/dart/remote_media_track.rs
  jason/src/api/dart/room_close_reason.rs
  jason/src/api/dart/room_handle.rs
  jason/src/api/dart/utils/string.rs
  jason/src/platform/dart/executor/mod.rs
  jason/src/platform/dart/executor/task.rs
  jason/src/platform/dart/utils/completer.rs
  jason/src/platform/dart/utils/dart_api.rs
  jason/src/platform/dart/utils/function.rs
Labels: enhancement, k::api, k::refactor, platform::android

#203 Use type erased wrapper for values transferred through FFI
  .github/workflows/ci.yml
  Cargo.lock
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/example/pubspec.lock
  jason/flutter/lib/connection_handle.dart
  jason/flutter/lib/ffi/callback.dart
  jason/flutter/lib/ffi/completer.dart
  jason/flutter/lib/ffi/executor.dart
  jason/flutter/lib/ffi/foreign_value.dart
  jason/flutter/lib/ffi/native_string.dart
  jason/flutter/lib/ffi/ptrarray.dart
  jason/flutter/lib/input_device_info.dart
  jason/flutter/lib/jason.dart
  jason/flutter/lib/media_manager.dart
  jason/flutter/lib/room_close_reason.dart
  jason/flutter/lib/room_handle.dart
  jason/flutter/lib/util/callback.dart
  jason/src/api/dart/mod.rs
  jason/src/api/dart/room_handle.rs
  jason/src/api/dart/utils/arrays.rs
  jason/src/platform/dart/utils/completer.rs
  jason/src/platform/dart/utils/function.rs
Labels: enhancement, k::api, k::refactor, platform::android

#204 Basic Rust to Dart error propagation and extern functions integer arguments validation
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/lib/device_video_track_constraints.dart
  jason/flutter/lib/ffi/completer.dart
  jason/flutter/lib/ffi/exceptions.dart
  jason/flutter/lib/ffi/foreign_value.dart
  jason/flutter/lib/ffi/result.dart
  jason/flutter/lib/ffi/unbox_handle.dart
  jason/flutter/lib/jason.dart
  jason/src/api/dart/device_video_track_constraints.rs
  jason/src/api/dart/media_manager_handle.rs
  jason/src/api/dart/mod.rs
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/dart/room_handle.rs
  jason/src/api/dart/utils/err.rs
  jason/src/api/dart/utils/mod.rs
  jason/src/api/dart/utils/result.rs
  jason/src/api/wasm/reconnect_handle.rs
  jason/src/platform/dart/utils/completer.rs
  jason/src/rpc/backoff_delayer.rs
  jason/src/rpc/reconnect_handle.rs
Labels: enhancement, feature, k::api, k::refactor, platform::android
