Repository instrumentisto/medea, pull requests merged in 2021-07, with the labels that each got.

#210 Upgrade actix dependencies
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile
  jason/Cargo.toml
  jason/src/api/dart/room_handle.rs
  mock/control-api/Cargo.toml
  mock/control-api/src/api/mod.rs
  src/api/client/rpc_connection.rs
  src/api/client/session.rs
  src/api/control/callback/clients/mod.rs
  src/api/mod.rs
  src/media/peer.rs
  src/signalling/peers/metrics/mod.rs
  src/signalling/peers/traffic_watcher.rs
  src/signalling/room/dynamic_api.rs
  src/signalling/room/mod.rs
  src/signalling/room/rpc_server.rs
  src/turn/coturn_metrics.rs
  src/utils/mod.rs
Labels: enhancement, k::refactor, k::toolchain

#211 Make Coturn optional (#182)
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  config.toml
  jason/flutter/example/pubspec.lock
  jason/flutter/pubspec.yaml
  src/conf/ice.rs
  src/conf/mod.rs
  src/conf/turn.rs
  src/main.rs
  src/media/peer.rs
  src/signalling/mod.rs
  src/signalling/participants.rs
  src/signalling/peers/mod.rs
  src/signalling/room/command_handler.rs
  src/signalling/room/mod.rs
  src/signalling/room/peer_events_handler.rs
  src/turn/coturn/allocation_event.rs
  src/turn/coturn/cli.rs
  src/turn/coturn/coturn_metrics.rs
  src/turn/coturn/ice_user.rs
  src/turn/coturn/mod.rs
  src/turn/coturn/repo.rs
  src/turn/ice_user.rs
  src/turn/mod.rs
  src/turn/service.rs
  src/turn/static_service.rs
Labels: enhancement, feature, k::config, k::design

#212 Move E2E tests to separate crate
  .dockerignore
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile
  e2e/.env
  e2e/Cargo.toml
  e2e/docker-compose.host.yml
  e2e/docker-compose.yml
  e2e/index.html
  e2e/nginx.conf
  e2e/src/browser/client.rs
  e2e/src/browser/js.rs
  e2e/src/browser/mock/media_devices.rs
  e2e/src/browser/mock/mod.rs
  e2e/src/browser/mock/websocket.rs
  e2e/src/browser/mod.rs
  e2e/src/lib.rs
  e2e/src/object/connection.rs
  e2e/src/object/connections_store.rs
  e2e/src/object/jason.rs
  e2e/src/object/local_track.rs
  e2e/src/object/mod.rs
  e2e/src/object/remote_track.rs
  e2e/src/object/room.rs
  e2e/src/object/tracks_store.rs
  e2e/tests/conf.rs
  e2e/tests/control.rs
  e2e/tests/features/apply.feature
  e2e/tests/features/create_endpoint.feature
  e2e/tests/features/delete_endpoint.feature
  e2e/tests/features/disable_remote_media.feature
  e2e/tests/features/enable_remote_media.feature
  e2e/tests/features/get_user_media.feature
  e2e/tests/features/local_tracks_create.feature
  e2e/tests/features/media_disable.feature
  e2e/tests/features/media_mute.feature
  e2e/tests/features/on_join.feature
  e2e/tests/features/on_leave.feature
  e2e/tests/features/on_new_connection_fires.feature
  e2e/tests/features/remote_connection_close.feature
  e2e/tests/features/room_close.feature
  e2e/tests/features/room_join.feature
  e2e/tests/features/state_synchronization.feature
  e2e/tests/main.rs
  e2e/tests/steps/connection.rs
  e2e/tests/steps/control_api.rs
  e2e/tests/steps/media_state.rs
  e2e/tests/steps/mod.rs
  e2e/tests/steps/room.rs
  e2e/tests/steps/track.rs
  e2e/tests/steps/websocket.rs
  e2e/tests/world/member.rs
  e2e/tests/world/mod.rs
  mock/control-api/Dockerfile
Labels: enhancement, k::testing, k::toolchain

#213 Extend Rust to Dart error propagation
  Cargo.lock
  jason/flutter/example/integration_test/jason.dart
  jason/flutter/lib/ffi/exceptions.dart
  jason/flutter/lib/ffi/foreign_value.dart
  jason/flutter/lib/room_handle.dart
  jason/src/api/dart/jason_error.rs
  jason/src/api/dart/mod.rs
  jason/src/api/dart/reconnect_handle.rs
  jason/src/api/dart/room_handle.rs
  jason/src/api/dart/unimplemented.rs
  jason/src/api/dart/utils/err.rs
  jason/src/api/dart/utils/mod.rs
  jason/src/api/wasm/connection_handle.rs
  jason/src/api/wasm/constraints_update_exception.rs
  jason/src/api/wasm/media_manager_handle.rs
  jason/src/api/wasm/mod.rs
  jason/src/api/wasm/reconnect_handle.rs
  jason/src/api/wasm/room_handle.rs
  jason/src/peer/component/watchers.rs
  jason/src/peer/media/mod.rs
  jason/src/peer/mod.rs
  jason/src/room.rs
  jason/src/rpc/mod.rs
  jason/tests/room/room.rs
  jason/tests/web.rs
Labels: enhancement, k::api, k::refactor, platform::android
